body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button{
    cursor: pointer;
}

nav{
    height: 80px;
    border: solid rgba(0 0 0 /.1) 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;

}

main{
    border: solid rgba(0 0 0 /.1) 1px;
    height: auto;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

div.adding-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div.adding-btn-container button,
div.no_data_container button{
    padding: 10px 30px;
    border-radius: 5px;
    background: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

div.adding-btn-container button:hover
div.no_data_container button:hover{
    background: blue;
}

table{
    border-collapse: collapse;
    text-align: left;
}

thead th{
    border: white;
    color: white;
}

tbody th{
    color: rgb(2, 2, 107);
}
thead th, tbody th{
    border: solid;   
    border: solid rgba(0 0 0 /.1) 1px;
    padding: 15px 10px;
    font-weight: 600;
}

thead {
    background-color: darkblue;
    color: white;
}

tbody:nth-child(even){
    background-color: rgb(28, 7, 126, .1);
    color: rgb(18, 4, 51);
}

tbody .user_btns button,
.user_subscribed,
.non_user_subscribed,
.user_status button{
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

tbody .user_btns button:nth-child(1){
    background-color: rgb(208, 208, 250);
    color: darkblue;
}

tbody .user_btns button:nth-child(2),
.non_user_subscribed{
    background-color: rgb(238, 199, 199);
    color: darkred;
}

tbody .user_btns button:nth-child(3),
.user_subscribed{
    background-color: rgb(203, 238, 199);
    color: rgb(3, 85, 16);
}

.no_data_container{
    height: 300px;
    background-color: rgb(202, 200, 200,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;    
}


div.add_user_container_model{
    position: fixed;
    inset: 0;
    z-index: 50;
    align-items: center;
    justify-content: center;
    background-color: rgba(0 0 0 /.3);
}

.open_model{
    display: flex;
}

.close_model{
    display: none;
}

div.add_user_container_model form {
    padding: 20px;
    width: 500px;
    /* height: 500px; */
    border-radius: 5px;
    background-color: white;
}

div.add_user_container_model form input{
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: solid rgba(0 0 0 /.3) 1px;
}

div.add_user_container_model form input:focus{
    border: solid rgba(0 0 0 /.6) 1px;
}